/*CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*End of CSS reset */


/*Elements */

input {
  font-size: 20px;
  color: #025488;
  font-family: Lucida Grande;
}


/*End of elements */


/*Positioning*/

.container {
  width: 100%;
  height: 100%;
  background-color: #025488;
  text-align: center;
}

#sidebar {
  width: 300px;
  height: 100%;
  position: fixed;
  background-color: #fff;
}

#main {
  width: 600px;
  height: 100%;
  margin-left: 450px;
  position: relative;
  overflow: auto;
}


/*End of Positioning*/

/*Sidebar*/

#me {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  padding: 20px 0;
  margin: 0 auto;
}

#startup {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 20px 0;
}

#sidebar h3 {
  color: #025488;
  font-family: Lucida Grande;
  font-size: 28px;
  text-align: center;
  line-height: 1.2em;
}

#sidebar p {
  font-family: Lucida Grande;
  font-size: 20px;
  line-height: 1.3em;
}

#sidebar a {
  color: #025488;
}

.social li {
  display: inline;
}

.social img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
}


/*End of Sidebar */


/*Main Section*/

#main h2 {
  color: white;
  font-size: 60px;
  font-family: Lucida Grande;
  text-align: center;
  line-height: 1.1em;
  padding: 50px 0 20px 0;
}

#main li {
  color: white;
  font-size: 20px;
  font-family: Lucida Grande;
  padding: 10px;
}

#add {
  color: #025488;
  height: 40px;
  width: 80px;
  font-family: Lucida Grande;
  font-size: 20px;
  margin: 10px auto;
  padding: 5px;
}

#input {
  height: 30px;
  width: 450px;
}

#checked {
  text-decoration: line-through;
}

#unchecked {
  text-decoration: none;
}

#center {
  margin: 0 auto;
  text-align: center;
}

.box {
  border-radius: 5px;
  border: 5px solid white;
  padding: 10px;
  height: 100%;
}

#todo-list {
  color: white;
  font-family: Lucida Grande;
  font-size: 20px;
}

/*End of main section*/
















